<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RM-SH</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="icon" href="https://cdn.discordapp.com/attachments/1005773256151810078/1346366087343767583/1000x983.png?ex=67c7eca1&is=67c69b21&hm=9989ad43e159e25c8a2dae9c8067c054630819b826a6f64e17663c33623fea95&" type="image/icon type">
  <script src="/javascripts/main.js"></script>
</head>
<body class="bg-gradient-to-r from-pink-600 via-white to-green-500 text-black">

  <!-- Navbar  -->
  <nav class="bg-gradient-to-r from-pink-600 via-white to-green-500 shadow-md p-4">
    <div class="flex justify-between items-center container mx-auto">

      <div class="flex-grow text-center">
        <h1 class="text-3xl font-semibold text-black drop-shadow-md">RM Shopping Hub</h1>
      </div>

      
    </div>
  </nav>

  <div class="overflow-hidden py-8">
    <div class="scrolling-products">
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/1.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/2.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>

      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/3.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>

      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/4.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/5.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/6.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/7.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/8.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/9.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>
      <a href="/buyers/login" class="flex-none w-64 h-64 bg-white shadow-md rounded-lg m-2 hover:translate-y-1 hover:shadow-lg transition-all">
        <img src="images/10.png" alt="Product 2" class="w-full h-full object-cover rounded-lg">
      </a>



     

    </div>
  </div>

  <div class="flex space-x-8 py-8 container mx-auto">
    <a href="/sellers/signup" class="flex-1 hover:translate-y-1 hover:shadow-xl transition-all">
      <div class="image-container">        
        <img src="images/signup.png" alt="Image 2" class="w-full h-full object-cover rounded-lg">         
        <div class="overlay">
          <p>Looking to Sell Something ??? </p>
        </div>
      </div>
    </a>
    <a href="/buyers/login" class="flex-1 hover:translate-y-1 hover:shadow-xl transition-all">
        <div class="image-container">
          <img src="images/login.png" alt="Image 2" class="w-full h-full object-cover rounded-lg">
          <div class="overlay">
            <p>Looking to Buy Something ??? </p>
          </div>
        </div>
      </a>
  </div>

</body>
</html>
